main {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    font-size: 60px;

    margin-bottom: 20px;
}

main iframe {
    border: none;
}